/* Police d'écriture */

body
{
    font-family: 'Raleway', sans-serif;
    margin:0;
}


/* Mise en page de l'en-tête */


header 
{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

header img
{
    width: 100px;
    height: 50px;    
    margin-top: 11px;
    margin-left: 15px;

}

#subscribe
{
    color: #0065FC;
    font-weight: bold;
    margin-right: 15px;
    display:flex;
    align-items: center;
    height: 75px;
}

/* --- navigation --- */

nav
{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;    
}

nav li:hover
{
    border-bottom: 4px #0065FC solid ;
}

nav li:hover a
{
    color: #0065FC;
}

nav ul
{
    display: flex;
    flex: 1;
    padding: 0;
}

nav li
{
    display: flex;
    list-style: none;
    padding-left: 30px;
    border-top: 4px transparent solid;
    border-bottom: 4px transparent solid;
}

.nav_mobile
{
    flex: 1;
    justify-content: center;
    padding: 10px;
}

/* modification des liens sur l'ensemble de la page */

a
{
    color: initial;
    outline: none;
    text-decoration: none;
}


/* Mise en page du pied de page */


footer
{
    background-color: #F2F2F2;
    padding-top:10px;
}


#footerContent{
    flex-direction: column;
}

.footerColumn h3
{
    padding-left: 2.5em;
    font-size: 1em;
}

.footerColumn li 
{
    list-style: none;
    margin-top: 10px;
}

.footerColumn a:hover
{
    color: #0065FC;
}

/* Si l'écran est > ou = a 800px de large alors ... */
@media (min-width: 800px)
{

    /* Modification de l'en-tête */

    header
    {
        flex-wrap: nowrap;
    }

    header a
    {
        order: 2;
    }

    #subscribe
    {
        height: initial;
    }

    nav 
    {
        justify-content: right;
        flex-basis: 100%;
    }

    nav ul 
    {
        flex: initial;
        padding: initial;
        margin: 0;
    }

    nav li:hover
    {
        text-decoration: #0065FC;
        border-top: 4px #0065FC solid ;
        border-bottom: 0px;
    }

    .nav_mobile
    {
        padding: 20px;
    }

    /* Modification du pied de page */

    #footerContent
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}