/* Font */

body
{
    font-family: 'Raleway', sans-serif;
    margin:0;
}


/* ----- header layout ----- */


header 
{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

header img
{
    width: 100px;
    height: 50px;    
    margin-top: 11px;
    margin-left: 15px;

}

#signUp
{
    color: #0065FC;
    font-weight: bold;
    margin-right: 15px;
    display:flex;
    align-items: center;
    height: 75px;
}

/* --- navigation --- */

#navHead
{
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;    
}

#navHead li:hover
{
    border-bottom: 2px #0065FC solid ;
}

#navHead li:hover a
{
    color: #0065FC;
}

#navHead ul
{
    display: flex;
    flex: 1;
    padding: 0;
}

#navHead li
{
    display: flex;
    list-style: none;  
    border-top: 2px transparent solid;
    border-bottom: 2px #F2F2F2 solid;
}

.menu
{
    flex: 1;
    justify-content: center;
    margin-bottom: 10px;
    height: 100%;
    width: 100%
}

.menu a
{
    height: 100%;
    width: 100%;
    text-align: center;
}

/* ----- modification on the whole page ----- */

main 
{
    margin: 15px;
}

a
{
    color: initial;
    outline: none;
    text-decoration: none;
}

/* ----- search area layout ----- */

#search
{
    display: flex;
    flex-direction: column;
}

#search h2
{
    margin: initial;
}

form
{
    border-top:2px #F2F2F2 solid;
    border-bottom:2px #F2F2F2 solid;
    border-radius: 15px;
    max-width: 400px;
    display:flex;
}

label
{
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}


input 
{
    padding:10px;
    font-weight: bold;
    border: none;
    flex:2;
}

input:focus{
    outline: none;
}

input::placeholder
{
    color: black;
    font-size: 1.2em;
    text-align: left;
    opacity: 1;
}

button
{

    background: #0065FC;
    color: white;
    padding: 10px;
    border: 1px transparent solid;
    border-radius: 15px;
    text-shadow:none;
    cursor: pointer; 
}

#hide
{
    display:none;
}

/* ----- filter area layout ----- */

#filter
{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 15px;
}

#filter ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: initial;
    margin-top: 10px;
}
#filter li 
{
    list-style: none;
    margin: 2px;
}



.icon
{
    text-align: center;
    padding:15px;
    background: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
}

.buttonFilter
{
    color:initial;
    background: transparent;
    padding: 0;
    border-bottom: 2px #F2F2F2 solid;
    border-top: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-radius: 25px;
    font-weight: bold;
}

.buttonFilter:hover
{
    background: #DEEBFF;
    color:#0065FC;
}

.textFilter
{
    margin: 20px;
}

#info
{
    display: flex;
    align-items: baseline;
}

#info i
{
    text-align: center;
    padding:10px;
    margin-right: 15px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    border: 1px #F2F2F2 solid;
    border-radius: 100%;
}

/* ----- Mise en page zone hébergement ----- */ 

#liste ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#liste li
{
    list-style: none;
    margin: 2px;
    flex-basis: 50%;
}

#liste h4, #liste p 
{
    margin: 5px;
}

#liste img
{
    height: 50%;
    width: 100%;
}

.bleu
{
    color: #0065FC;
}

.gris
{
    color: silver;
}

.bold
{
    font: bold;
}

/* ----- footer layout ----- */


footer
{
    background-color: #F2F2F2;
    padding-top:20px;
    padding-bottom: 20px;
}


#footerContent{
    flex-direction: column;
}

.footerColumn h3
{
    padding-left: 2.5em;
    font-size: 1em;
}

.footerColumn li 
{
    list-style: none;
    margin-top: 10px;
}

.footerColumn a:hover
{
    color: #0065FC;
}


/* If the screen is > or = 800px wide then ... */
@media screen and (min-width: 800px)
{

    /* ----- header layout ----- */

    header
    {
        flex-wrap: nowrap;
    }

    header a
    {
        order: 2;
    }

    #subscribe
    {
        height: initial;
    }

    #navHead 
    {
        justify-content: flex-end;
        flex-basis: 100%;
    }

    #navHead ul 
    {
        flex: initial;
        padding: initial;
        margin: 0;
    }

    n#navHead li
    {
        border-bottom: 4px transparent solid;
    }

    #navHead li:hover
    {
        text-decoration: #0065FC;
        border-top: 2px #0065FC solid ;
        border-bottom: 0px;
    }

    .menu a
    {
        display: flex;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
    }

    /* ----- modification search area ----- */

    form
    {
        max-width: 400px;
    }

    i.hideIcon.fas.fa-search.fa-lg {
        display: none;
    }

    #hide
    {
        display: contents;
    }

    /* ----- modification filter area ----- */

    #filter
    {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }

    #filter ul 
    {
        max-width: 700px;
        width: auto;
        margin-left: 15px;
    }

    #info
    {
        flex-basis: 100%;
    }

    /* ----- modification footer ----- */

    #footerContent
    {
        display: flex;
        flex-direction: row;
    }

    .footerColumn
    {
        flex-basis: 33%;
    }
}